# IP_ADDRESS=10.10.7.111
IP_ADDRESS=187.77.23.76
PORT=4000


# For Docker container connectivity, use host.docker.internal
DATABASE_URL=postgresql://postgres:password@db:5432/azanmunir
# DATABASE_URL=postgresql://postgres:123456@localhost:5432/azanmunir1?schema=public
# DATABASE_URL=postgresql://postgres:password@db:5432/azanmunir?schema=public
# REDIS_URL=redis://127.0.0.1:6379
REDIS_URL=redis://redis:6379

BCRYPT_SALT_ROUND=10

FRONTEND_URL=https://fixmincykel.dk


CORS_ORIGIN=https://fixmincykel.dk
 

# JWT
JWT_SECRET=ac4a044abc48ed051t3375343352256f2f4
JWT_EXPIRE_IN=7d
JWT_REFRESH_EXPIRE_IN=30d

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER="yourEmail"
EMAIL_FROM="yourEmail"
EMAIL_PASS="yourAppPassowrd"


# Redi URL
REDIS_URL=redis://redis:6379

# super admin

  NAME=Admin
  EMAIL=fixmincykel@gmail.com
  PHONE=01457385594
  PASSWORD=12345678
  AVATAR=https://i.ibb.co/VWkMFBWM/pngtree-user-icon-png-image-1796659.jpg